<div class="form-group">
    <label for="{{data.id}}">{{data.name}}</label>
    <input id="{{data.id}}" class="form-control" type="{{data.type}}" name="holder" ng-model="model" ng-blur="checkValidity()" ng-required="data.required == 'true'" ng-minlength="{{data.minlength}}"/>
    <p class="help-block" ng-show="form.{{data.id}}.$invalid">
        <span ng-show="form.{{data.id}}.$error.required">A {{data.name}} is required</span>
        <span ng-show="form.{{data.id}}.$error.email">That doesn't look like an email</span>
        <span ng-show="form.{{data.id}}.$error.minlength">Too short</span>
        <span ng-show="form.{{data.id}}.$error.pattern">{{data.name}} must be a number</span>
    </p>
</div>